<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All upload pictures
    </h1>

    <a href="/upload_pictures/new" class="btn btn-block btn-outline-secondary">
      Add a new upload picture
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Email
        </th>

        <th>
          Password
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @upload_pictures.each do |upload_picture| %>
      <tr>
        <!-- Display upload_picture.id start -->
        <td>
          <%= upload_picture.id %>
        </td>
        <!-- Display upload_picture.id end -->

        <!-- Display upload_picture.email start -->
        <td>
          <%= upload_picture.email %>
        </td>
        <!-- Display upload_picture.email end -->

        <!-- Display upload_picture.password start -->
        <td>
          <%= upload_picture.password %>
        </td>
        <!-- Display upload_picture.password end -->

        <!-- Display upload_picture.created_at start -->
        <td>
          <%= time_ago_in_words(upload_picture.created_at) %> ago
        </td>
        <!-- Display upload_picture.created_at end -->

        <!-- Display upload_picture.updated_at start -->
        <td>
          <%= time_ago_in_words(upload_picture.updated_at) %> ago
        </td>
        <!-- Display upload_picture.updated_at end -->

        <td>
          <a href="/upload_pictures/<%= upload_picture.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @upload_pictures, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
