<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Upload picture #<%= @upload_picture.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/upload_pictures" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/upload_pictures/<%= @upload_picture.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit upload picture
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Email
      </dt>
      <dd>
        <%= @upload_picture.email %>
      </dd>

      <dt>
        Password
      </dt>
      <dd>
        <%= @upload_picture.password %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@upload_picture.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@upload_picture.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

